#top {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 3%;
    background-color:rgb(233, 166, 67);
    /* background-image: linear-gradient(0,#e77a55, #EF6A3E); */
}

#top a, #top i {
    color: rgb(255, 255, 255);
}

#top .navbar-toggler {
    border-color: rgb(255, 255, 255);
}

#main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://d36ai2hkxl16us.cloudfront.net/thoughtindustries/image/upload/a_exif,c_fill,w_750,h_361/v1426633725/eq54w9myfn6xfd28p92g.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#main-container h1, #main-container p {
    width: 100%;
    font-weight: normal;
    text-align: center;
    color: rgb(255, 255, 255);
}

#main-container h1 {
    padding-bottom: 2%;
}
  
#main-container::before {
    content: "";
    display: block;
    -webkit-filter: blur(1px) brightness(0.3);
    -moz-filter: blur(1px) brightness(0.3);
    -ms-filter: blur(1px) brightness(0.3);
    -o-filter: blur(1px) brightness(0.3);
    filter: blur(1px) brightness(0.3);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: 0;
}