<!-- Test suites are configured here -->
<phpunit bootstrap="src/autoload.php">
    <testsuites>
        <!-- test suite to test if Selenium and PHPUnit are set up correctly -->
        <testsuite name="test_setup">
            <directory>test/test_setup</directory>
        </testsuite>

        <testsuite name="routing">
            <directory>test/home</directory>
        </testsuite>

        <testsuite name="login_logout">
            <directory>test/login_logout</directory>
        </testsuite>

        <testsuite name="signup">
            <directory>test/signup</directory>
        </testsuite>

        <testsuite name="register_course">
            <directory>test/register_course</directory>
        </testsuite>

        <testsuite name="manage_course">
            <directory>test/manage_course</directory>
        </testsuite>

    </testsuites>
</phpunit>

