<!-- Test suites are configured here -->
<phpunit bootstrap="src/autoload.php">
    <testsuites>
        <!-- test suite to test if Selenium and PHPUnit are set up correctly -->
        <testsuite name="test_setup">
            <directory>test/test_setup</directory>
        </testsuite>

        <!-- test suite for Home page -->
        <testsuite name="home">
            <directory>test/home</directory>
        </testsuite>

        <!-- test suite for Login page -->
        <testsuite name="login">
            <directory>test/login</directory>
        </testsuite>

        <!-- test suite for Courses -->
        <testsuite name="courses">
            <directory>test/courses</directory>
        </testsuite>

    </testsuites>
</phpunit>

